body {
  background-color: #ffff;
  color: #000000;
  font-size: 16px;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  line-height: 1.3;
}

a {
text-decoration: none;
color: #ffff;
}

a:hover {
  color: orange;
}

a:active {
  color: blue;
}

a:visited {
  color: red;
}

.story-text {
  margin-top: 20px;
}

.author {
  font-size: 1.1em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
